* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h3,
span {
  font-family: europa, sans-serif;
}

.hidden {
  visibility: hidden;
  display: none;
}

/* HEADER */

nav {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  padding-bottom: 0.8rem;
  border-bottom: rgba(201, 201, 201, 0.488) solid 1px;
}

.logo {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 2rem;
}

.logo span {
  font-weight: 800;
}

.logo a {
  text-decoration: none;
  color: black;
}

.login-signup {
  display: flex;
  gap: 1rem;
  padding-left: 2rem;
}

.login-signup,
.search-engine,
.recipe-buttons {
  font-family: europa, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.login,
.signup,
.direction,
.save {
  border-color: transparent;
  border-width: 0;
  background-color: #cc1f0b;
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 40px;
  padding: 0 20px;
}

.signup,
.direction {
  background-color: #e5e5e5;
  color: black;
}

.login:hover,
.save:hover {
  background-color: #b11b0a;
}

.signup:hover,
.direction:hover {
  background-color: #cbcbcb;
}

.dropdown {
  align-self: center;
}

form button {
  display: flex;
  gap: 0.8rem;
  border: none;
  background-color: #eaeaea;
  color: rgb(96, 96, 96);
  border-radius: 6px;
  padding: 0.5rem 3rem 0.5rem 1rem;
}

/* SINGLE RECIPE */

.container {
  font-family: europa, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  max-width: 600px;
  width: 100%;
  padding-bottom: 2rem;
}

.image {
  display: block;
  text-align: center;
  padding-top: 0.5rem;
  max-width: 100%;
  height: 30rem;
  overflow: hidden;
}

.image img {
  border-radius: 3px;
  position: relative;
  max-width: 100%;
}

.title {
  text-align: center;
  padding-top: 1rem;
}

.sectioninfo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4rem;
  border-bottom: #eaeaea solid 1px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.sectioninfo span {
  font-weight: 800;
  font-size: 2rem;
}

.section1 {
  border-right: #eaeaea solid 1px;
  padding-right: 2rem;
}

.section2 img {
  max-width: 3rem;
}

.section3 {
  border-left: #eaeaea solid 1px;
  padding-left: 2rem;
}

.ingredients {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.ingredients p {
  background-color: #f5f5f5;
  border-radius: 50px;
  padding: 0 10px;
}

.recipe {
  line-height: 2rem;
  color: rgb(96, 96, 96);
  padding-bottom: 1rem;
}

.recipe h3 {
  color: black;
}

.recipe span {
  font-weight: 700;
}

.recipe-buttons {
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
  border-bottom: #eaeaea solid 1px;
}

.direction,
.save {
  padding: 0.3rem 0.8rem;
}

/* RECIPE LIST */

.all,
.more {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
}

.recipe-grid,
.morerecipes-grid {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
  justify-content: center;
  padding-bottom: 2rem;
  margin: 0 1.5rem;
}

.recipelist a,
.morerecipes a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.imgcontainer {
  position: relative;
}

.imgcontainer img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 3px;
}

.name {
  position: absolute;
  display: block;
  bottom: 4px;
  background: rgba(0, 0, 0, 0.584);
  color: #f1f1f1;
  width: 100%;
  text-align: left;
  z-index: 1;
  padding: 0.5rem;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.infobox {
  color: #424242;
  display: flex;
  justify-content: space-between;
  line-height: 1;
  padding: 0.5rem 0.1875rem 0.25rem;
}

.left-info {
  display: block;
  font-size: 0.8rem;
  line-height: 1.25rem;
  overflow: hidden;
  padding-top: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.right-info {
  flex: none;
  font-size: 0.8rem;
  line-height: 1.25rem;
  padding-top: 3px;
  text-align: right;
}

.right-info span {
  border-radius: 3px;
  padding: 2px 7px;
  box-shadow: inset 0 0 3px #e6e6e6;
}

/* FOOTER */
.lists,
.copy {
  display: flex;
  justify-content: space-around;
  font-family: europa, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #eeeeee;
  padding: 2rem;
  border-bottom: rgba(201, 201, 201, 0.488) solid 1px;
}

.lists ul {
  list-style: none;
  line-height: 2rem;
}

.lists a {
  text-decoration: none;
  color: rgb(96, 96, 96);
}

.copy {
  color: rgb(96, 96, 96);
}

.app-store img {
  padding-top: 1rem;
}
.app-store {
  align-self: center;
  word-wrap: wrap;
}

/* MEDIA QUERY */
@media screen and (max-width: 800px) {
  .lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .resources {
    grid-column: 2/3;
  }
  .search-engine p {
    visibility: hidden;
  }

  form button {
    display: none;
  }

  .hidden {
    visibility: visible;
    display: contents;
  }

  #searchafter {
    display: flex;
    gap: 0.8rem;
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  nav {
    justify-content: space-around;
  }
  .login,
  .signup {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  .container {
    max-width: 400px;
  }
}
